input[type="checkbox"] {
    display: none;
}

#switch {
    margin: 0 auto;
    margin-top: 15%;
    position: relative;
    display: block;
    width: 40px;
    height: 20px;
    background-color: rgb(241, 161, 12);
    border-radius: 175px;
    cursor: pointer;
}

#circle {
    width: 15px;
    height: 15px;
    background-color: white;
    background-size: 650px;
    position: relative;
    top: 3px;
    left: 3px;
    border: 2px solid white;
    border-radius: 15px;
    transition: 0.4s ease left, 0.4s ease background-position;
    z-index: 2;
}

#toggle:checked + #switch #circle {
    left: 23px;
    background-position: -20px 0;
}

#toggle:checked + #switch {
    background: #212121;
}

/* 🌞 Style clair */
[data-theme="light"] {
    --bg-color: #ececec;
    --text-color: #212121;
    --bg2-color : #e5e5e5;
    --faq-blue-color : #03b5d2;
    --profile-grey-texte :rgba(33, 37, 41, 0.75);
    --profile-bg-card : #f0f0f0;
    --profile-text-card : #242528;
    --profile-button : #212121;
}

/* 🌚 Style sombre */
[data-theme="dark"] {
    --bg-color: #0F1203;
    --text-color: #ececec;
    --bg2-color : #242528;
    --faq-blue-color : #adacac;
    --profile-grey-texte : rgba(176, 176, 176, 0.75);
    --profile-bg-card : #242528;
    --profile-text-card : #ececec;
    --profile-button : #adacac;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}
.card-body {
    background-color: var(--bg2-color);
    color: var(--text-color);
}
.profile-grey-text {
    color: var(--text-color);
}

.card {
    background-color: var(--profile-bg-card);
    color : var(--profile-text-card);
}
form input {
    background-color: var(--bg2-color) !important;
    color : var(--text-color) !important;
}
.form-control {
    background-color: var(--bg2-color) !important;
    color : var(--text-color) !important;
}
.form-control::placeholder {
    color : var(--text-color) !important;
}
.btn-outline-dark {
    color: var(--text-color);
    border: 1px solid var(--text-color);
}
.btn-outline-dark:hover {
    background-color: var(--profile-button);
}