[data-theme = "light"] {
    --bg-color: #ececec;
    --bg2-color: #e5e5e5;
    --text-color: #212121;

    --primary: #b6859a;
    --secondary: #965e78;
    --tertiary: #F39199;
    --purple-main: #613F75;
    --purple-hover: #a86ec9;


    --header-bg: #5a3f78;
    --footer-bg: var(--purple-main);
    --text-color-inverse: #fffdfd;
}

[data-theme = "dark"] {
    --bg-color: #0F1203;
    --bg2-color: #242528;
    --text-color: #ececec;


    --primary: #b6859a;
    --secondary: #965e78;
    --tertiary: #F39199;
    --purple-main: #613F75;
    --purple-hover: #4a2f5a;


    --header-bg: #1a1a1a;
    --footer-bg: #000000;
    --text-color-inverse: #ececec;
}

.nav-link {
    color: var(--bg-color);
}

.nav-link:hover {
    color: var(--tertiary);
}

.navheader {
    background-color: var(--header-bg);
}

.btn:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    background-color: var(--purple-hover);
}


.btn-bg-primary {
    color: var(--secondary);
    background-color: var(--bg-color);
}

.btn-bg-secondary {
    background-color: var(--tertiary);
    color: var(--text-color);
}

.logo:hover {
    transform: scale(1.05);
}

.dark-light-mode {

}

footer {
    background-color: var(--header-bg);
    display: flex;
    flex-direction: column;
    color: var(--bg2-color);
    padding: 15px 30px;
    align-items: center;
    font-family: 'Nunito', sans-serif;
}

footer nav a {
    color: var(--bg2-color);
    text-decoration: none;
    border-radius: 30px;
    padding: 10px 20px;
}

footer a:hover {
    color: var(--tertiary);
}

input[type="checkbox"] {
    display: none;
}

.theme-position {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.moon-sun-icon {
    margin: auto; 
}

.theme-switch {
    position: relative;
    display: block;
    width: 40px;
    height: 20px;
    background-color: rgb(241, 161, 12);
    border-radius: 175px;
    cursor: pointer;
    margin: 0.2rem 0;
}

.theme-circle {
    width: 15px;
    height: 15px;
    background-color: white;
    position: relative;
    top: 3px;
    left: 3px;
    border: 2px solid white;
    border-radius: 15px;
    transition: 0.4s ease left, 0.4s ease background-position;
}