header{
    margin: 0 auto;
    background-color:#613F75;
    display: flex;
    color: #fffdfd;
    padding: 15px 30px;
    justify-content: space-between;
    align-items:center;
    font-family: 'Nunito', sans-serif;
}
header nav {
    display:flex;
    flex-direction: row;
}
header a {

    list-style: none;
    text-decoration: none;
    color: white;
    border-radius:30px;
    padding: 10px 20px;
    transition-duration: 0.2s;
    transition-timing-function:linear;
}

header a:hover {
    color: #F39199;
}
.cta {
    background-color: #AC748F;
    border-radius: 14px;
    margin: 0 10px;
    cursor: pointer;
    transition: all 0.3s ease;


}
.cta:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}
.cta-second {
    border: 2px solid #AC748F;
    border-radius: 14px;
    margin: 0 10px;
    cursor: pointer;
    transition: all 0.3s ease;


}
.cta-second:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}


body {
    margin: 0;
    font-family: 'Nunito', sans-serif;
    background-color: #F8F8F8;
}


footer{
    margin: 0 auto;
    background-color:#613F75;
    display: flex;
    flex-direction: column;
    color: #fffdfd;
    padding: 15px 30px;
    align-items:center;
    font-family: 'Nunito', sans-serif;
}

footer nav a{
    color:white;
    text-decoration: none;
    border-radius:30px;
    padding: 10px 20px;
}
footer a:hover {
    color: #F39199;
}