:root {
    --text-color: #7c5094;
}

.grey-text {
    color : #828282
}

.text-color {
    color: var(--text-color);
}


section {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1200px;
}
